#contenedor1{
    width: 850px;
    height: 450px; 
    background-color: aqua;
    display: flex;
   justify-content: center;
   margin: auto;
   justify-content:space-between;

 }
 #contenedor1 article {
    width: 150px;
    height: 120px; 
    border-block-start-color: azure;
    
}
#contenedor2{
    width: 850px;
    height: 450px; 
    background-color: rgb(253, 196, 255);
    margin: auto;
    display: flex;
    align-items:position;

}
#contenedor2 article {
    width: 150px;
    height: 120px; 
    border-block-start-color: rgb(20, 207, 207);

}
